<p id="notice"><%= notice %></p>

<h1 class="top_header">Listing Books</h1>


<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

  <div class="col-md-9">

    <div class="row">
      <!--book item-->
      <% @books.each do |book| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://fakeimg.pl/300/" alt="...">
          <div class="caption">
            <h3><%= book.title %></h3>
            <p><%= book.description %></p>
            <p>售價：<%= book.price %>元</p>
            <p><a href="#" class="btn btn-danger" role="button">我要買!</a></p>
          </div>
        </div>
      </div>
      <% end %>
      <!--book item-->
    </div>

   </div>
</div>

<br>
